<h1>客户端<%= Time.zone.today %>日报</h1>

<table style="border: 1px solid #999;border-collapse: collapse;">
  <thead>
  <tr>
    <th style="border: 1px solid #999;font-size: 70%;">责任人</th>
    <th style="border: 1px solid #999;font-size: 70%;">星期一</th>
    <th style="border: 1px solid #999;font-size: 70%;">星期二</th>
    <th style="border: 1px solid #999;font-size: 70%;">星期三</th>
    <th style="border: 1px solid #999;font-size: 70%;">星期四</th>
    <th style="border: 1px solid #999;font-size: 70%;">星期五</th>
    <th style="border: 1px solid #999;font-size: 70%;">星期六</th>
    <th style="border: 1px solid #999;font-size: 70%;">星期日</th>
  </tr>
  </thead>
  <tbody>
  <% @format_tasks.each do |user_name,task_list| %>
  <tr>
    <td style ="border: 1px solid #999;" width=5%><%= user_name %></td>
    <td style ="border: 1px solid #999;" width=12%><%= raw task_list[1] %></td>
    <td style ="border: 1px solid #999;" width=12%><%= raw task_list[2] %></td>
    <td style ="border: 1px solid #999;" width=12%><%= raw task_list[3] %></td>
    <td style ="border: 1px solid #999;" width=12%><%= raw task_list[4] %></td>
    <td style ="border: 1px solid #999;" width=12%><%= raw task_list[5] %></td>
    <td style ="border: 1px solid #999;" width=12%><%= raw task_list[6] %></td>
    <td style ="border: 1px solid #999;" width=12%><%= raw task_list[7] %></td>
  </tr>
<% end %>
  </tbody>
</table>

