<script>
    KE.show({
        id : 'content1',
        shadowMode : false,
        autoSetDataMode: false,
        items : ['insertorderedlist'],
        allowPreviewEmoticons : false,

        afterCreate : function(id) {
            KE.event.ctrl(document, 13, function() {
                KE.util.setData(id);
                document.forms['new_task'].submit();
            });
            KE.event.ctrl(KE.g[id].iframeDoc, 13, function() {
                KE.util.setData(id);
                document.forms['new_task'].submit();
            });
            KE.event.add(KE.$('new_task'), 'submit', function() {
                KE.util.setData(id);
            });

            if(KE.isEmpty('content1')){
                KE.toolbar.select(id, 'insertorderedlist');
                KE.util.execCommand(id, 'insertorderedlist', null);
            }
        }
    });

</script>


<%= form_for(@task,:html => {:id=>"new_task", :name =>'new_task'} ) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "内容" %><br />
    <%= f.text_area :content, :id=>"content1",
                    :style =>'width:500px;height:200px;visibility:hidden;' %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
