<h1>日报列表</h1>


<% @tasks.each do |task| %>

    <%= task.user.login %> <%= task.created_at.strftime("%Y-%m-%d") %><br/>
    <%= raw task.content %><br/>
    <%#= link_to 'Show', task %>
    <%= link_to '编辑', edit_task_path(task) %>|
    <%= link_to '删除', task, :confirm => 'Are you sure?', :method => :delete %><br/>

<% end %>

<br />

<% unless @finished %>
<%= link_to '写日报', new_task_path %>
<% end %>
