<p id="notice"><%= notice %></p>

<p>
  <b>用户名:</b><br/>
  <%= @task.user.login %>
</p>

<p>
  <b>日报内容:</b><br/>
  <%= raw @task.content %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
