<!DOCTYPE html>
<html>
<head>
  <title>互动研发日报提交系统</title>
  <%= stylesheet_link_tag :all %>
  <%#= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery1.4.4.min",
                             "jquery_rails" %>
  <%= javascript_include_tag "/kindeditor/kindeditor" %>
  <%= csrf_meta_tag %>


</head>
<body>
<%= yield %>
<hr>
<div> 
<%= link_to "当日总表", list_path %> -- 
<%= link_to "我的日报", tasks_path %> --
<% unless logged_in? -%>
<%= link_to "注册", signup_path %> -- 
<%= link_to "登陆", login_path %> --
<% else %>
<%= link_to "注销", logout_path %> --
<% end %>
</div> 
</body>
</html>
